/*** INPUTS ***/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

/*** SCROLLBAR ***/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: all 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-items {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

/*** VIDEO PLAYER ***/

.player-wrapper {
  position: relative;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/*** CONTAINERS ***/
@media only screen and (max-width: 849px) {
  body {
    overflow-x: hidden;
  }
  #main-container {
    flex-direction: column;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }
  #video-container-box {
    height: 100%;
    width: 100%;
    overflow-y: initial;
  }

  #found-videos-box {
    height: 100%;
  }
  #side-panel-box {
    width: 100%;
  }
}

/*** APP INSTRUCTIONS ***/
@media only screen and (max-width: 1323px) {
  #app-instructions-box h2 {
    font-size: 1.5rem;
  }
  #app-instructions-box svg {
    height: 2rem;
    width: 2rem;
  }
}

@media only screen and (max-width: 1091px) {
  #app-instructions-box h2 {
    font-size: 1.2rem;
  }
  #app-instructions-box svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  #app-instructions-flex-container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 1091px) {
  #app-instructions-flex-container {
    display: none;
  }
}

@media only screen and (max-width: 607px) {
  #video-info-flex-container p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 685px) {
  #found-videos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
